* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Fonts';
  src: url("../fonts/fonts/Fonts.ttf?3sayo9") format("truetype"), url("../fonts/fonts/Fonts.woff?3sayo9") format("woff"), url("../fonts/fonts/Fonts.svg?3sayo9#Fonts") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Fonts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
  color: #035755;
}

.icon-facebook:before {
  content: "\e901";
  color: #035755;
}

.icon-youtube:before {
  content: "\e902";
  color: #f44a45;
}

.icon-socialV:before {
  content: "\e903";
  color: #035755;
}

.social__media button {
  border: none;
  outline: none;
}

.social__media button:hover {
  cursor: pointer;
}

.social__media button:not(:last-child) {
  margin-right: 40px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 60px;
}

.container {
  max-width: 1490px;
  margin: 0 auto;
  padding: 0 25px;
}

.container_1 {
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__body {
  width: 40%;
}

.header__section {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 5px;
}

.header-image__section img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-image__section {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
          flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  position: relative;
  padding-bottom: 42.5%;
}

.header-image__section img {
  width: 100%;
  height: 100%;
}

.anchor {
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 100;
  display: none;
}

.anchor button {
  outline: none;
  border: none;
  background-color: #fb4c47;
  border-radius: 50%;
}

.anchor a {
  padding: 10px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 122%;
}

.label {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 122%;
  color: #FA5652;
}

.header__btn button {
  width: 100%;
  height: 100%;
}

.text {
  font-size: 24px;
  line-height: 190%;
  text-transform: capitalize;
  color: #4B4F51;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.button button {
  border-radius: 50px;
  background-color: #FA5652;
  color: white;
  border: none;
  outline: none;
  font-size: 24px;
}

.header__body div:last-child {
  margin-bottom: 0;
}

.header__btn {
  width: 250px;
  height: 80px;
  margin: 15px 0;
}

.header__label,
.header__title {
  margin: 15px 0;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__body li {
  list-style: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo p {
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  text-transform: uppercase;
  color: #035755;
  margin-left: 10px;
}

.menu_items {
  -ms-flex-item-align: center;
      align-self: center;
}

.logo p {
  -ms-flex-item-align: center;
      align-self: center;
}

.section_1 {
  margin-top: 125px;
}

.section_2 {
  margin-top: 85px;
}

.section_3 {
  margin-top: 120px;
}

.what_is {
  margin-top: 100px;
}

.list__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__link,
.list__link_1 {
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: black;
}

.list__link:hover {
  cursor: pointer;
}

.list_a {
  text-decoration: none;
  margin-right: 45px;
  margin-top: 10px;
}

.list__link:not(:last-child) {
  margin-right: 45px;
  margin-top: 10px;
}

._active,
.active {
  color: #FB4C47;
  position: relative;
}

._active:before,
.active:before {
  content: '';
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #FB4C47;
}

.list__link button {
  height: 45px;
  width: 131px;
  border: 1px solid #FB4C47;
  color: #FB4C47;
  border-radius: 50px;
  outline: none;
  background-color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.list__link button:hover {
  cursor: pointer;
  background-color: #FB4C47;
  color: white;
}

.navigation-head {
  padding: 19px 0 31px 0;
}

.arrows {
  -ms-flex-item-align: center;
      align-self: center;
  background-color: blue;
}

.arrows span {
  margin: 0 5px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.about__us-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__us-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.about__us-img img {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  -webkit-transform: rotate(-11deg);
      -ms-transform: rotate(-11deg);
          transform: rotate(-11deg);
}

.about__us-body {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.about__us-block {
  width: 50%;
  overflow: hidden;
}

/* =================================================== */

.section_body {
  max-width: 716px;
  margin: 0 auto;
  text-align: center;
}

.image img {
  width: 100%;
  height: 100%;
}

.contagion__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contagion__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: center;
}

.contagion__body:not(:first-child) {
  margin-left: 15.5px;
}

/* =================================================== */

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.number {
  background-color: pink;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  position: relative;
}

.number p {
  left: 16px;
  top: 5px;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  color: red;
  position: absolute;
}

.flex-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex__title {
  margin-left: 20px;
  -ms-flex-item-align: center;
      align-self: center;
}

.main__flex-image img {
  width: 100%;
  height: 100%;
}

.main__flex-title {
  max-width: 617px;
  -ms-flex-item-align: center;
      align-self: center;
}

.subscribe {
  max-width: 790px;
  margin: 0 auto;
}

.subscribe__btn {
  padding: 26px 80px;
}

.subscribe__btn-block {
  text-align: right;
  margin-top: -90px;
  margin-right: 15px;
}

.input {
  width: 100%;
  height: 114px;
  outline: none;
  border: none;
  color: gray;
  background: white;
  -webkit-box-shadow: 0 8px 80px rgba(0, 0, 0, 0.06);
          box-shadow: 0 8px 80px rgba(0, 0, 0, 0.06);
  border-radius: 57px;
  padding-left: 40px;
}

.subscribe__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #0C6C44;
}

/* ============================================ */

.footer {
  margin-top: 140px;
}

.footer__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu,
.social__media {
  -ms-flex-item-align: center;
      align-self: center;
}

.list__link_1:not(:first-child) {
  margin-left: 25px;
}

/* =========================================== */

.map img {
  width: 100%;
  height: 100%;
}

.map__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.live__reports {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 504px;
          flex: 0 0 504px;
  background-color: white;
  padding: 55px;
}

.live__reports-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image img {
  width: 100%;
  height: 100%;
}

.one__part,
.second__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.country__title,
.country__people {
  -ms-flex-item-align: center;
      align-self: center;
}

.second__part {
  position: relative;
}

.country__title {
  margin-left: 15px;
}

.country__people {
  margin-right: 30px;
}

.country__progress {
  position: absolute;
  top: 10px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.red {
  border-bottom: 15px solid red;
}

.green {
  border-top: 15px solid green;
}

.gray {
  color: gray;
}

._red {
  color: red;
}

.burger {
  display: none;
}

@media (min-width: 1480px) {
  .header-image__section {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50vw - (0.4 - 0.5) * 1440px);
            flex: 0 0 calc(50vw - (0.4 - 0.5) * 1440px);
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1150px;
  }
}

@media (max-width: 1080px) {
  .list__link:not(:last-child) {
    margin-right: 30px;
    margin-top: 5px;
  }

  .logo p {
    font-size: 17px;
  }

  .list__link button {
    height: 35px;
    width: 115px;
    font-size: 16px;
  }

  .contagion__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .title {
    font-size: 24px;
  }

  .text {
    font-size: 18px;
  }

  .main__flex-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }

  .about__us-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }

  .about__us-block {
    width: 40%;
  }

  .header__btn {
    width: 220px;
    height: 60px;
  }

  .subscribe__btn {
    padding: 13px 0;
    width: 180px;
    height: 60px;
    margin-top: 17px;
  }

  .live__reports {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    padding-right: 0;
  }

  .subscribe__title {
    font-size: 48px;
  }

  .input {
    height: 85px;
    padding-left: 30px;
  }

  .social__media button:not(:last-child) {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .subscribe__title {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 20px;
  }

  .subscribe__btn {
    padding: 13px 0;
    width: 180px;
    height: 60px;
    margin-top: 17px;
  }

  .social__media button:not(:last-child) {
    margin-right: 30px;
  }

  .input {
    height: 55px;
    padding-left: 20px;
  }

  .footer {
    margin-top: 80px;
  }

  .map {
    display: none;
  }

  .map__flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .live__reports {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
    margin-left: -20px;
  }

  .section_3 {
    margin-top: 50px;
  }

  .main__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .flex-head {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__flex-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }

  .main__flex-image img {
    width: 50%;
    height: 50%;
  }

  .main__flex {
    margin-top: 90px;
  }

  .contagion__body {
    margin-top: 70px;
  }

  .contagion__flex {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .flex-foot {
    margin: 20px 0;
  }

  .main__flex-title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer .list__body {
    display: none;
  }

  .about__us-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section_1 {
    margin-top: 70px;
  }

  .about__us-block {
    width: 100%;
  }

  .about__us-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .button button {
    height: 50px;
    width: 160px;
    font-size: 16px;
  }

  .subscribe__btn-block button {
    height: 45px;
    width: 120px;
  }

  .subscribe__btn {
    margin-top: 40px;
  }

  .burger:after {
    top: 0;
  }

  .burger:before {
    bottom: 0;
  }

  .menu_items.active_menu {
    left: 0;
  }

  .list__link {
    padding-top: 30px;
  }

  ._active:before,
  .active:before {
    left: 90px;
    top: 38px;
  }

  .logo {
    position: relative;
    z-index: 8;
  }

  .label {
    font-size: 18px;
  }

  .container {
    padding: 0 15px;
  }

  .title {
    font-size: 22px;
  }

  .text {
    font-size: 16px;
  }

  .burger {
    display: block;
    position: relative;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 21px;
    cursor: pointer;
  }

  .burger:after,
  .burger:before {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: black;
  }

  .burger span {
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: black;
    top: 9px;
  }

  .menu_items {
    position: absolute;
    background-color: white;
    top: 0;
    left: -100%;
    height: 100%;
    width: 50%;
    z-index: 2;
    -webkit-transition-duration: 500ms;
         -o-transition-duration: 500ms;
            transition-duration: 500ms;
  }

  .list__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 13;
    margin-left: 30px;
    margin-top: 60px;
  }
}

@media (max-width: 550px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .header-image__section {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
            flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .header__body {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .button button {
    height: 40px;
    width: 120px;
  }

  .subscribe__btn {
    margin-top: 49px;
    padding: 7px 0;
  }

  .subscribe__btn-block button {
    height: 35px;
    width: 90px;
  }

  .input {
    height: 45px;
  }

  .live__reports {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    margin-left: -33px;
  }

  .subscribe__title {
    font-size: 24px;
    line-height: 35px;
  }

  .list__body {
    margin-left: 20px;
  }

  .menu_items {
    width: 60%;
  }

  .social__media button:not(:last-child) {
    margin-right: 20px;
  }
}